/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


$white_opaque: rgba(250, 250, 250, .3);
$white_opaque_text: rgba(250, 250, 250, .6);
$dark: #1F7972;
$grey_opaque: rgba(192,192,192,0.6);

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 3px;
  font-weight: bold;
  padding-left: 10px;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

* {
	box-sizing: border-box;
}
html {
  height: 100%;
}

body {
	height: 100%;
  	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  	padding-top: 60px;
 	@media only screen and (max-width: 767px) {font-size: 0.75em; background-image: none;}
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

h1 {font-size: 1.8em; text-align: center;}
h2 {font-size: 1.6em; text-align: center;}

.alert {
	text-align: center;
}

.container {
	width: 90%;
	max-width: 900px;
	background: white;
	opacity: 0.8;
	margin: 1em auto 0 auto;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.3);
	box-shadow: 0 0 4px 4px $grey_opaque;
	padding: 1em 0;
}

.page_title {
	text-align: center;
	font-weight: 700;
	font-size: 2.5em;
	text-transform: uppercase;
	color: $dark;
	margin: 0;
	a {
		text-decoration: none;
		color: white;
		transition: all .4s ease-in-out;
		&:hover {
			opacity: 0.4;
		}
	}
}

.links {
	display: block;
	margin: 1.5em auto 0 auto;
	text-align: center;
	font-size: 0.8em;
	color: white;
	a {
		color: white;
	}
}

.forms {padding: 0 5%;}
label {color: $dark;}

#form {padding-left: 5px};

input[type="text"] {
	float: right;
	width: 70%;
	margin: 0 2% 0 0;
	display: inline-block;
	outline: none;
	background: $grey_opaque;
	border: none;
	height: 30px;
	border-radius: 4px;
	padding-left: 0;
}

input[type="number"] {
	float: right;
	width: 70%;
	margin: 0 2% 0 0;
	display: inline-block;
	outline: none;
	background: $grey_opaque;
	border: none;
	height: 30px;
	border-radius: 4px;
	padding-left: 0;
}


input[type="email"] {
	width: 90%;
	margin: 0.5em 2% .5em 20px;
	display: inline-block;
	outline: none;
	background: $grey_opaque;
	border: none;
	height: 40px;
	border-radius: 4px;
	padding-left: 1em;
}

input[type="password"] {
	width: 90%;
	margin: 0.5em 2% .5em 20px;
	display: inline-block;
	outline: none;
	background: $grey_opaque;
	border: none;
	height: 40px;
	border-radius: 4px;
	padding-left: 1em;
}

input[type="checkbox"] {
	margin: 0.5em 2% .5em 20px;
	border-radius: 4px;
	padding-left: 1em;
}

label {
	margin: .5em 2% .5em 20px;
	border-radius: 4px;
	padding-left: 1em;
}

#back {margin: 0 0 0 30px;}

input[type="submit"] {
	background: $dark;
	outline: none;
	border: none;
	height: 40px;
	border-radius: 4px;
	width: 25%;
	display: inline-block;
	transition: all .4s ease-in-out;
	cursor: pointer;
	color: white;
	margin: .5em 2% 1em 20px;
	&:hover {
		background: $dark;
		color: white;
	}
}
::-webkit-input-placeholder { color: $dark; }

.navbar-right {width: 600px}; 
 
textarea {
	width: 100%;
    height: 300px;
	box-shadow: 0 0 4px 4px $grey_opaque;
}

table {
	border: 1; 
	width: 95%; 
	opacity: 0.8;
	margin: 1em auto 0 auto;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.3);
	box-shadow: 0 0 4px 4px $grey_opaque;
	padding: 1em 0;
}

ul, li {list-style-type: none;}

input#year {width: 20%; margin-left: 0;}
input#month {width: 12%}
#form {padding-left: 10px};
#summary-form {padding-left: 70px};

.button {
	text-align: center;
	background: $dark;
	outline: none;
	border: none;
	line-height: 40px;
	border-radius: 4px;
	width: 25%;
	display: inline-block;
	transition: all .4s ease-in-out;
	cursor: pointer;
	color: white;
	margin: .5em 2% 1em 20px;
	&:hover {
		background: $dark;
		color: white;
	}
}

#summary_wrapper1 {
	.summary_row {width: 100%;padding-left: 50px; padding-right: 50px;
		.summary_item {	width: 50%;	float: left;display:inline;}
		.summary_amount {width: 50%; text-align: right; float: right; display:inline;}
	}
}

#summary_wrapper2 {
	.summary_row {width: 100%;padding-left: 50px; padding-right: 50px;font-weight: bold;
		.summary_item {	width: 50%;	float: left;background-color:$grey_opaque;border-style: solid; border-width: 0 0 1px 0; border-color: white;}
		.summary_amount {width: 50%; text-align: right; float: right;background-color:$grey_opaque;border-style: solid; border-width: 0 0 1px 0; border-color: white;}
	}
}



/*
[id$="description"] { min-width: 400px; }
[id$="item_number"] { min-width: 120px; }
[id$="unit_price"] { min-width: 70px; }
[id$="quantity"] { width: 30px; } */

table { position: relative }
/*
[id$="description"] { width: 50%; }
[id$="item_number"] { width: 20%; }
[id$="unit_price"] { width: 10%; }
[id$="quantity"] { width: 10%; }

th {padding-left : 80px; } 


[id^="order_order_items_attributes"] { 	font-size: 0.8em; }
[id^="order_order_items_attributes"] {	margin: 0 0 0 0; }
[id^="order_order_items_attributes"] {	padding: 0 0 0 0; }
[id^="order_order_items_attributes"] { 	float: left; }
[id^="order_order_items_attributes"] { 	border-radius: 0; } */

th #description {width: 60%;}
th #item_number {width: 20%;}
th #unit_price {width: 10%;}
th #quantity {width: 10%; padding-left: 40px}


#order_order_items_attributes_0_description   { font-size: 0.8em; float: left; width: 480px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_0_item_number   { font-size: 0.8em; float: left; width: 120px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_0_unit_price    { font-size: 0.8em; float: left; width: 80px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_0_quantity      { font-size: 0.8em; float: left; width: 80px; margin: 0 0 0 0; padding: 0 0 0 0;}

#order_order_items_attributes_1_description   { font-size: 0.8em; float: left; width: 480px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_1_item_number   { font-size: 0.8em; float: left; width: 120px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_1_unit_price    { font-size: 0.8em; float: left; width: 80px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_1_quantity      { font-size: 0.8em; float: left; width: 80px; margin: 0 0 0 0; padding: 0 0 0 0;}

#order_order_items_attributes_2_description   { font-size: 0.8em; float: left; width: 480px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_2_item_number   { font-size: 0.8em; float: left; width: 120px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_2_unit_price    { font-size: 0.8em; float: left; width: 80px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_2_quantity      { font-size: 0.8em; float: left; width: 80px; margin: 0 0 0 0; padding: 0 0 0 0;}

#order_order_items_attributes_3_description   { font-size: 0.8em; float: left; width: 480px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_3_item_number   { font-size: 0.8em; float: left; width: 120px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_3_unit_price    { font-size: 0.8em; float: left; width: 80px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_3_quantity      { font-size: 0.8em; float: left; width: 80px; margin: 0 0 0 0; padding: 0 0 0 0;}

#order_order_items_attributes_4_description   { font-size: 0.8em; float: left; width: 480px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_4_item_number   { font-size: 0.8em; float: left; width: 120px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_4_unit_price    { font-size: 0.8em; float: left; width: 80px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_4_quantity      { font-size: 0.8em; float: left; width: 80px; margin: 0 0 0 0; padding: 0 0 0 0;}

#order_order_items_attributes_5_description   { font-size: 0.8em; float: left; width: 480px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_5_item_number   { font-size: 0.8em; float: left; width: 120px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_5_unit_price    { font-size: 0.8em; float: left; width: 80px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_5_quantity      { font-size: 0.8em; float: left; width: 80px; margin: 0 0 0 0; padding: 0 0 0 0;}

#order_order_items_attributes_6_description   { font-size: 0.8em; float: left; width: 480px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_6_item_number   { font-size: 0.8em; float: left; width: 120px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_6_unit_price    { font-size: 0.8em; float: left; width: 80px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_6_quantity      { font-size: 0.8em; float: left; width: 80px; margin: 0 0 0 0; padding: 0 0 0 0;}

#order_order_items_attributes_7_description   { font-size: 0.8em; float: left; width: 480px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_7_item_number   { font-size: 0.8em; float: left; width: 120px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_7_unit_price    { font-size: 0.8em; float: left; width: 80px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_7_quantity      { font-size: 0.8em; float: left; width: 80px; margin: 0 0 0 0; padding: 0 0 0 0;}

#order_order_items_attributes_8_description   { font-size: 0.8em; float: left; width: 480px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_8_item_number   { font-size: 0.8em; float: left; width: 120px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_8_unit_price    { font-size: 0.8em; float: left; width: 80px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_8_quantity      { font-size: 0.8em; float: left; width: 80px; margin: 0 0 0 0; padding: 0 0 0 0;}

#order_order_items_attributes_9_description   { font-size: 0.8em; float: left; width: 480px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_9_item_number   { font-size: 0.8em; float: left; width: 120px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_9_unit_price    { font-size: 0.8em; float: left; width: 80px; margin: 0 0 0 0; padding: 0 0 0 0;}
#order_order_items_attributes_9_quantity      { font-size: 0.8em; float: left; width: 80px; margin: 0 0 0 0; padding: 0 0 0 0;}
